@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<ContentModels.MemberProgress>

@using Clean.Core.Models.ViewModels
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels
@using Umbraco.Cms.Core
@using Clean.Core.Extensions

@{
    Layout = "master.cshtml";
    var member = Model.Member;

    var completedChallenges = Model.Children
        .Select(x => new { Progress = x, Challenge = x.Value<IPublishedContent>("challenge") })
        .Where(x => x.Challenge != null && x.Challenge.Value<bool>("completed"));

}

@await Html.PartialAsync("~/Views/Partials/pageHeader.cshtml", new PageHeaderViewModel(Model.Name, "Progress for " + member.Name, null, null, null, null, null))

<article>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                <h2>Challenges Completed by @member.Name</h2>
                <ul class="list-group">
                    @foreach (var progress in completedChallenges)
                    {
                        var challenge = progress.Challenge;
                        if (challenge != null)
                        {
                            <li class="list-group-item">
                                <a href="@challenge.Url()">@challenge.Name</a>
                            </li>
                        }
                    }
                </ul>
            </div>
        </div>
    </div>
</article>