@inherits Umbraco.Cms.Web.Common.Macros.PartialViewMacroPage

<fieldset>
  <legend>Utmaning:</legend>
    <div>
      <input type="checkbox" id="Finished" name="Finished" />
      <label for="Finished">Utförd</label>
    </div>
</fieldset>